@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;1,400;1,500&display=swap');

/* 슬라이드 배너 */
html,
body {
    position: relative;
    height: 510px;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper-container {
    z-index: 1;
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
}
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 0;
  }
  
  .swiper-container-horizontal > .swiper-pagination > .swiper-pagination-bullet {
    opacity: 0.4;
    background: #FFF!important;
  }
  .swiper-container-horizontal > .swiper-pagination > .swiper-pagination-bullet-active {
    background: white!important;
    opacity: 1;
  }
  #slider_mobile {
    display: none;
}

  /*0 ~ 767*/
@media screen and (max-width: 767px) {
    #slider_mobile {
        display: block;
    }
    #slider_main {
        display: none;
    }

}

/* 섹션01 */
#section01 {
    display: block;
    width: 100%;
    padding-top: 80px;
}
.wrap {
    margin: 0 auto;
    width: 1200px;
    overflow: hidden;
}

.leftImg {
    display: inline-block;
    margin: 0 auto;
    float: left;
    /* width: 53%;
    margin-right: 2%; */
    width: 624px;
    margin-right: 26px;
    box-sizing: border-box;
}
.rightImg {
    display: block;
    margin: 0 auto;
    float: left;
    width: 550px;
    box-sizing: border-box;
}


.rightImg01 {
    width: 540px;
}

.sec01txt {
    margin-bottom: 120px;
}

  /*0 ~ 767*/
  @media screen and (max-width: 767px) {
    #section01 {
        width: 88vw;
        margin: 0 auto;
        padding-top: 40px;
    }
    .wrap {
        width: 88vw;
    }
    
    .leftImg > img {
        width: 88vw;
        margin: 0 auto;
    }
    
    .rightImg01 {
        width: 88vw;
    }

    .rightImg > img{
        width: 88vw;
        margin: 0 auto;
    }
    
    .sec01txt {
        margin-bottom: 20px;
    }
}

/* 768 ~ 1126 */
@media screen and (min-width: 768px) and (max-width: 1126px) {
    .wrap {
        margin: 0 auto;
        width: 88vw;
        overflow: hidden;
    }
    
    .leftImg {
        display: inline-block;
        margin: 0 auto;
        float: left;
        /* width: 53%;
        margin-right: 2%; */
        width: 46vw;
        margin-right: 2vw;
        box-sizing: border-box;
    }
    .rightImg {
        display: block;
        margin: 0 auto;
        float: left;
        width: 40vw;
        box-sizing: border-box;
    }

    .rightImg01 {
        width: 40vw;
    }

    .rightImg > img{
        width: 40vw;
        margin: 0 auto;
    }

    .leftImg > img {
        width: 46vw;
        margin: 0 auto;
    }
    .sec01txt {
        margin-bottom: 5vw;
    }

}


/* 섹션02 */
#section02 {
    margin-top: 60px;
    margin-bottom: 80px;
}

.title { 
    text-align: center;
}

.titlet {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 38px;
    color: #71625a;
    height: 52px;
}
.titletSub {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #777;
    letter-spacing:-1px;
    line-height: 24px;
}


#slideIn {
    width: 1200px;
    overflow: hidden;
    margin-top: 30px;
}

#slideIn > .gomenu {
    /* margin-right: 2%; */
    float: left;
    display: block;
    box-sizing: border-box;
}

.subtitle {
    display: block;
    font-family: 'Noto Sans KR', sans-serif;
    color: #71625a;
    font-weight: 500;
    font-size: 16px;
}

#slideIn > .gomenu > p {
    margin-top: 10px;
    font-size: 12px;
}

#slideIn > .gomenu > a {
    margin: 0 auto;
    display: block;
}
#slideIn > .gomenu > img {
    display: block;
}


.subtxt1 {
    width: 280px;
    display:block;
    padding-top: 10px;
    overflow: hidden;
}
.subtxt2 {
    width: 280px;
    display:inline-block;
    padding-top: 10px;
    overflow: hidden;
}
.subtxt3 {
    width: 280px;
    display:block;
    padding-top: 10px;
    overflow: hidden;
}

.subt_01 {
    display: inline;
    width: 280px;
}
.subt_02 {
    display: inline;
    width: 280px;
}
.pick {
    display: inline;
    float: right;
}
.price {
    float: left;
    display: inline;
}
.rImgmargine1 {
    margin-right: 26.6px;
}
.rImgmargine2 {
    margin-right: 26.6px;
}


  /*0 ~ 767*/
  @media screen and (max-width: 767px) {
    #section02 {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    
    .title { 
        text-align: center;
    }
    .subtitle {
        width: 42vw;
    }
    
    #slideIn {
        width: 88vw;
        margin-top: 30px;
    }
    
    #slideIn > .gomenu {
        width: 44vw;
        float: left;
    }
    
    
    #slideIn > .gomenu > a {
        width: 42vw;
    }
    
    .rImgmargine3 {
        margin-right: 0px;
        width: 42vw;
    }

    .rImgmargine2 {
        margin-right: 0px;
        width: 42vw;
    }

    .rImgmargine1 {
        width: 42vw;
        margin-right: 0px;
        margin-right: 4vw;
    }

    .subtxt3 {
        margin-right: 0px;
        width: 42vw;
        padding: 2vw;
    }

    .subtxt2 {
        margin-right: 0px;
        width: 42vw;
        padding: 2vw;
    }

    .subtxt1 {
        width: 42vw;
        margin-right: 0px;
        margin-right: 4vw;
        padding: 2vw;
    }
}
/* 768 ~ 1126 */
@media screen and (min-width: 768px) and (max-width: 1126px) {
    .gomenu {
        width: 22vw;
    }
    #slideIn {
        width: 88vw;
    }
    #slideIn > .gomenu > a {
        width: 22vw;
    }
    
    .rImgmargine3 {
        margin-right: 2vw;
        width: 20.5vw;
    }

    .rImgmargine2 {
        margin-right: 2vw;
        width: 20.5vw;
    }

    .rImgmargine1 {
        width: 20.5vw;
        margin-right: 2vw;
    }
    .subtitle {
        width: 20.5vw;
    }
    .subtxt3 {
        width: 20.5vw;
        padding: 1vw;
    }

    .subtxt2 {
        margin-right: 0px;
        width: 20.5vw;
        padding: 1vw;
    }

    .subtxt1 {
        width: 20.5vw;
        margin-right: 0px;
        margin-right: 2vw;
        padding: 1vw;
    }
}


/* 섹션03 슬라이드 띠배너  */

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mylineSwiper {
    margin-bottom: 80px;
}


.mylineSwiper_m {
    display: none;
}

  /*0 ~ 767*/
  @media screen and (max-width: 767px) {
    .mylineSwiper_m {
     display: initial;
    }
    .mylineSwiper {
        display: none;
    }
}

  /* 섹션04 */

  #section04 {
    width: 100%;
    height: 590px;
}

.leftImg04 {
    display: inline;
    margin: 0 auto;
    float: left;
    /* width: 53%;
    margin-right: 2%; */
    width: 400px;
    margin-right: 26px;
}
.rightImg04 {
    display: inline;
    margin: 0 auto;
    float: right;
    /* width: 45%; */
    width: 774px;
    box-sizing: border-box;
}
.slideshopping {
    display: inline-block;
    overflow: hidden;
    margin-top: 116px;
}
.shoppingart {
    float: left;
    box-sizing: border-box;
}

.subtxt_s {
    width: 174px;
    display:block;
    padding-top: 10px;
    overflow: hidden;
}

.subt_01_s {
    display: inline;
    width: 174px;
}
.subt_02_s {
    display: inline;
    width: 174px;
}
.pick_s {
    float: right;
    display: inline;
}
.price_s {
    float: left;
    display: inline;
}

/* 섹션 06 */
