@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* 섹션01 */
#section01 {
    width: 100%;
    height: 700px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.wrap {
    margin: 0 auto;
    width: 1200px;
    overflow: hidden;
}

.leftImg {
    display: inline-block;
    margin: 0 auto;
    float: left;
    width: 53%;
    margin-right: 2%;
    box-sizing: border-box;
}
.rightImg {
    display: inline-block;
    margin: 0 auto;
    float: left;
    width: 45%;
    box-sizing: border-box;
}

/* 섹션02 */

.title { 
    margin-top: 120px;
    text-align: center;
}

#slideIn {
    overflow: hidden;
}

#slideIn > .gomenu {
    float: left;
    display: inline-block;
    width: 25%;
    box-sizing: border-box;
}

#slideIn > .gomenu > .subtitle {
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

#slideIn > .gomenu > p {
    margin-top: 10px;
    font-size: 12px;
}

#slideIn > .gomenu > a {
    display:block;
    width: 280px;
    margin: 0 auto;
}

#slideIn > .gomenu > p {
    display:block;
    width: 280px;
    padding-top: 10px;
    margin: 0 auto;
}


/*0 ~ 767*/
@media screen and (max-width: 767px) {

    .wrap {
        width: 90vw;
        margin: 0 auto;
        overflow: hidden;
    }

    #slideIn {
        width: 90vw;
    }

    
    #slideIn > .gomenu {
        width: 90vw;
        display: inline-block;
        float: none;
    }

    .title { 
        text-align: center;
    }

    #slideIn > .gomenu > .subtitle {
        font-size: 14px;
        margin-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid black;
    }

    #slideIn > .gomenu > a {
        display:block;
        width: 240px;
        margin: 0 auto;
    }

    #slideIn > .gomenu > p {
        display:block;
        width: 240px;
        padding-top: 10px;
        margin: 0 auto;
    }

}

/* 768 ~ 1023 */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .wrap {
        width: 90vw; 
        margin: 0 auto;
        overflow: hidden;
    }
    
    .title { 
        margin-top: 120px;
        text-align: center;
    }
    
    #slideIn {
        overflow: hidden;
    }
    
    #slideIn > .gomenu {
        float: left;
        display: inline-block;
        width: 50%;
        box-sizing: border-box;
    }
    
    }
    
    #slideIn > .gomenu > .subtitle {
        font-weight: 600;
        font-size: 14px;
        margin-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid black;
    }
    
    #slideIn > .gomenu > p {
        margin-top: 10px;
        font-size: 12px;
    }

    #slideIn > .gomenu > a {
        display:block;
        width: 280px;
        margin: 0 auto;
    }

    #slideIn > .gomenu > p {
        display:block;
        width: 280px;
        padding-top: 10px;
        margin: 0 auto;
    }


/* 1024 ~ */
@media screen and (min-width: 1024px) {

}